<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Items</h4>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
      <th>ID</th>
      <th>Name</th>
      <th>Details</th>
      </thead>
      <tbody>
      <tr *ngFor="let item of products">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>
          <input type="button" (click)="goDetails(item.id)" value="details">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
