<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Receipts Stats</h4>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
      <th>ID</th>
      <th>Date</th>
      <th>TotalSum</th>
      <th>User</th>
      <th>UserInn</th>
      <th>CashTotalSum</th>
      <th>EcashTotalSum</th>
      </thead>
      <tbody>
      <tr *ngFor="let receipt of receipts">
        <td>{{receipt.id}}</td>
        <td>{{receipt.date}}</td>
        <td>{{receipt.totalSum}}</td>
        <td>{{receipt.shop ? receipt.shop.user : undefined}}</td>
        <td>{{receipt.shop ? receipt.shop.userInn : undefined}}</td>
        <td>{{receipt.cashTotalSum}}</td>
        <td>{{receipt.ecashTotalSum}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
