<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Items</h4>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Nds18</th>
      <th>Nds10</th>
      <th>Nds0</th>
      <th>NdsNo</th>
      <th>NdsCalculated18</th>
      <th>NdsCalculated10</th>
      <th>Sum</th>
      </thead>
      <tbody>
      <tr *ngFor="let item of goodList">
        <td>{{item.id}}</td>
        <td>{{item.product?.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.nds18}}</td>
        <td>{{item.nds10}}</td>
        <td>{{item.nds0}}</td>
        <td>{{item.ndsNo}}</td>
        <td>{{item.ndsCalculated18}}</td>
        <td>{{item.ndsCalculated10}}</td>
        <td>{{item.sum}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
